<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Do more</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel='stylesheet' href='/styles/fullcalendar.min.css'/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_KEY %>&libraries=places"></script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Do more</a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <form class="navbar-form navbar-right" action="/api/search" method="GET" id="formSearch">

                <div class="input-group">
                  <input type="text" class="form-control searchInput" placeholder="Search...">
                  <span class="input-group-addon">
                    <a class="glyphicon glyphicon-search"></a>
                  </span>

                </div>
              </form>
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->



      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="todolist">
            <h1>My ToDo List</h1>

            <ul class="list-group">
              <li class="list-group-item watch">Matrix</li>
              <li class="list-group-item read">Web development</li>
              <li class="list-group-item buy">Bose Headphone</li>
              <li class="list-group-item eat">Sushi Restaurant</li>
              <li class="list-group-item watch">Lord of the Rings</li>
              <li class="list-group-item eat">Caveman</li>
              <li class="list-group-item read">Operational System</li>
              <li class="list-group-item read">Network Security</li>
              <li class="list-group-item eat">Pizza Club</li>
              <li class="list-group-item watch">The godfather</li>
              <li class="list-group-item buy">Laptop</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="calendar"></div>
        </div>
      </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="searchResults" tabindex="-1" role="dialog" aria-labelledby="searchResultsTitle">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="searchResultsTitle">Modal title</h4>
          </div>
          <div class="modal-body" id="searchResultsContent"> </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Includes-->
    <div id="map"></div>

    <div id="GOOGLE_KEY" data-key="<%= GOOGLE_KEY %>">
    <div id="list"> </div>
    <div id="map" style="width:100%; height: 100%"> </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Moment JS -->
    <script src='/vendor/moment.min.js'></script>
    <!-- Full Calendar -->
    <script src='/vendor/fullcalendar.min.js'></script>

    <!-- Custom JavaScript -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/search.js"></script>



  </body>
</html>
